@import url("https://fonts.googleapis.com/css2?family=Georama:wght@100;300&display=swap");

/* Reset*/
html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  font: 1.6rem "Georama", sans-serif;
  scroll-behavior: smooth;
  background-color: #5f97b6;
}

h1 {
  margin: 0;
}

img {
  height: 100%;
  width: 100%;
  vertical-align: middle;
  display: inline-block;
  object-fit: cover;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  list-style: none;
  color: #fff;
}

::-webkit-scrollbar {
  display: none;
}

/* thème */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  line-height: 3rem;
  font-weight: bolder;
}

nav img {
  width: 100%;
  max-width: 20rem;
  margin-left: 5%;
}

nav ul {
  display: flex;
  margin-right: 5%;
  padding: 0;
  text-transform: uppercase;
  column-gap: 2rem;
}

ul li {
  cursor: pointer;
}

ul li img {
  width: 3rem;
  height: 3rem;
  margin: 0 1.5rem 2.5rem 0rem;
}

section {
  text-align: center;
  color: #fff;
  padding: 15rem;
}

h2 {
  margin-bottom: 3.25rem;
  font-weight: lighter;
  font-size: 7rem;
}

section p {
  text-align: center;
  padding: 0 2.5%;
  color: #fff;
  font-size: 3.5rem;
  font-weight: 100;
  width: 680px;
  margin: auto;
  margin-bottom: 6rem;
}

/* Animation pop-up */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.1rem solid #ccc;
  background-color: #fff;
  color: #474747;
  z-index: 1;
}

.close p {
  color: #474747;
}

.popup-content p {
  text-align: center;
  color: #474747;
  font-weight: bolder;
  font-size: 5rem
 
}

.popup-toggle {
  display: none;
  color: #474747;
}

.popup-label {
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  padding: 1.8rem 6rem 1.8rem 6rem;
  background-color: #f2f2f2;
  color: #474747;
  border-radius: 2.5rem;
  text-decoration: uppercase;
  font-weight: bolder;
}

.popup-toggle:checked + .popup {
  display: block;
}

.close {
  position: absolute;
  top: 0.625rem;
  right: 0.9375rem;
  font-size: 1.25rem;
  cursor: pointer;
  color: #007bff;
}
/* Styles pour les écrans larges (desktop) */
@media only screen and (min-width: 1200px) {
  body {
    touch-action: manipulation;
  }

  nav ul {
    margin-right: 20rem;
  }
}

/* Styles for tablet screens */
@media only screen and (max-width: 1199px) and (min-width: 768px) {
  body {
    touch-action: manipulation;
  }

  nav img {
    width: 15rem;
    margin-left: 5%;
  }

  nav ul {
    margin-right: 5%;
  }

  section p{
    width: 500px;
    font-size: 2.5rem;
  }
}

/* Styles for smartphone screens */
@media only screen and (max-width: 767px) {
  body {
    touch-action: manipulation;
  }

  nav img {
    width: 8rem;
    margin: 2rem 5%;
    justify-content: center;
  }

  nav ul {
    justify-content: center;
    margin-right: 0;
    font-size: .8rem;
  }
  nav ul li img {
    width: 3rem;
  }

  section{
    padding-top: 15rem !important;
    padding: 0;
  }
  section p{
    width: 500px;
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 480px){
    h2{
        font-size: 5rem;
    }
    section p{
        width: 400px;
        font-size: 2.0rem;
    }
    nav ul{
        column-gap: 0.5rem;
    }
}

@media only screen and (max-width: 430px){
    nav ul{
        font-size: 1.3rem;
    }
    ul li img{
        width: 2.5rem;
    }
}